h1 {
    font-style: normal;
    font-size: 75px;
    color: cornflowerblue;
}

h3 {
    text-align: center;
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 1.75rem;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.5rem;
}